{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "indentation": 2,
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "at-rule-no-unknown": [true, {
      ignoreAtRules: [
        "apply",
        "responsive",
        "screen",
        "tailwind",
        "variants",
      ]
    }],
    "order/properties-alphabetical-order": true
  }
}
